@import "./buttons.scss";

.left-panel {
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
  border-right: none;
  border-bottom: 2px solid #222222;
  font-family: "OpticianSans", sans-serif;
  text-transform: uppercase;
  h2 {
    // width: 100%;
    padding: 20px 10px 5px;
    font-size: 1.8rem;
    font-weight: 700;
  }
  @media screen and (min-width: 761px) {
    flex: 0 0 15rem;
    border-right: 2px solid #222222;
    border-bottom: none;
  }
}

.filter {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 20px;
  line-height: 1.5rem;
  border-bottom: 2px solid #222222;
}

.search {
  padding: 10px 10px 20px;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #222222;
}

#sort-field {
  width: 140px;
  padding: 5px;
  border: 1px solid #aaaaaa;
  &:focus {
    outline: orangered auto 2px;
  }
  option {
    padding: 0;
  }
}

#search-input {
  width: 150px;
  margin-right: 5px;
  padding: 10px 10px;
  border: 1px solid #aaaaaa;
  &:focus {
    outline: orangered auto 2px;
  }
}

#search-bttn {
  background: orangered;
  border-style: none;
  border: 1px solid orangered;
  padding: 10px 15px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  &:focus {
    outline: none;
  }
  &:hover {
    background: #1008ab;
    border-color: #1008ab;
  }
}

.pagination {
  padding: 10px 10px 20px;
  display: flex;
  flex-direction: row;
}

.links-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  justify-content: flex-end;
  align-self: flex-start;
  .link {
    display: flex;
    align-items: center;
    img {
      margin: 7px;
    }
  }
}

#get-page-number {
  width: 50px;
  margin: 0 5px;
  padding: 10px 10px;
  border: 1px solid #aaaaaa;
  &:focus {
    outline: orangered auto 2px;
  }
}
