@font-face {
  font-family: "TechniqueSans";
  src: url(../fonts/Technique-Sans.woff);
}

@font-face {
  font-family: "TomatoSoup";
  src: url(../fonts/TomatoSoup-Regular.woff);
}

@font-face {
  font-family: "Soulcraft-Regular";
  src: url("../fonts/Soulcraft-Regular.svg#Soulcraft-Regular") format("svg"),
    url("../fonts/Soulcraft-Regular.ttf") format("truetype"),
    url("../fonts/Soulcraft-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Soulcraft";
  src: url("../fonts/Soulcraft.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpticianSans";
  src: url("../fonts/Optiker-K.woff2") format("woff2"),
    url("../fonts/Optiker-K.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
