nav {
  height: 100px;
  // background: orangered;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  font-family: "TechniqueSans", sans-serif;
  text-transform: uppercase;
  ul {
    display: flex;
    justify-content: flex-end;
    width: 25%;
    li {
      margin-left: 20px;
    }
  }
}

.navbar__logo {
  height: 50px;
}
