nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  // background: orangered;
  padding: 0 50px;
  border-bottom: 2px solid #222222;
  text-transform: uppercase;
  ul {
    display: flex;
    justify-content: flex-end;
    width: 25%;
    li {
      margin-left: 20px;
    }
  }
}

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "OpticianSans", sans-serif;
  font-size: 5.5rem;
  // font-size: calc(var(--vh, 1vh)*25.925);
  font-weight: 900;
  line-height: 8.6rem;
  // -webkit-text-stroke: 2px orangered;
  color: #222222;
}

.marquee__content {
  width: 5760px !important;
  display: flex;
  animation: marquee 30s linear infinite forwards;
  &:hover {
    animation-play-state: paused;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-66.6%);
  }
}

.list-inline {
  display: flex;
  justify-content: space-around;
  width: 33.33%;
  li:hover {
    -webkit-text-stroke: 1px #222222;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
  }
}
