html,
body {
  width: 100%;
}
.container {
  //   width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  padding: 0 50px;
  @media screen and (min-width: 761px) {
    flex-direction: row;
  }
}
