html,
body {
  width: 100%;
  overflow: hidden;
  // cursor: url(../img/cursor.png), auto;
}
.container {
  //   width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 761px) {
    flex-direction: row;
  }
}

p,
span,
input {
  &::selection {
    background: rgba(255, 68, 0, 0.5);
  }
}
